{{template "base" .}}

{{define "title"}}create{{end}}

{{define "main"}}
<div class="createform">
<form action="/post/create" method="POST">
    <h1>CREATE POST</h1>
    <fieldset>
        <label>Title:</label>
        <input type='text' name='title'> </br>
        <label>Message:</label>  
        <textarea rows = "10" cols = "60" name = "message"></textarea>
        <input type="submit" value="image">
        <input type="submit" value="clear">
        <input type="submit" value="publish">
    </fieldset>
</form>
</div>
{{end}}