{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
<div class="signupform">
<form action="/user/login" method="POST">
    <h1>LOGIN</h1>
    <table>

        <tr>
            <td>
                <label>email:</label>
            </td>
            <td>
                <input type='text' name='email'>
            </td>
        </tr>

        <tr>
            <td>
                <label>password:</label>
            </td>
            <td>
                <input type='text' name='password'>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="login">
            </td>
        </tr>
        
    </table>
</form>
</div>
{{end}}