{{template "base" .}}

{{define "title"}}Post # {{.Post.ID}}{{end}}

{{define "main"}}

{{with .Post}}
<h1>{{.Title}}</h1>
<hr>
<br>
<pre><code>{{.Message}}</code></pre>
<br>
<p><small><hr>Post number #{{.ID}}</small></p>
<p><small>This post was created at {{humanDate .Created_on}}</small></p>
{{end}}
{{end}}